body{
 background-color:#Ffa781;
}

h{
 color:#152852;
}
h5{
 color:#152852;
}

p{
color:#5b0e2d;
}
.hometext{
 font-size:20px;
}

.title{
 text-align: center;
    font-family: 'Crimson Pro', serif;
    color: #152852;
    font-size:35px;
    margin:10px;
    
}
.titlebg{
 background-color:#ffa368;
}

.quote{
 text-align: center;
    font-family: 'Crimson Pro', serif;
    color: #152852;
    font-size:25px;
}
.label{
 font-size:20px;
 text-align:center;
 padding-top:10px;
}
.homeinfo{
 margin:20px;
}
.toidea{
margin: auto;
}
.overview{
 border-style: solid;
 border-width: medium;
 border-color: #5b0e2d;
 border-radius: 5px;
 padding:10px;
}

a-scene {
  height: 300px;
  width: 600px;
}

li{
 color:#5b0e2d;
}

.idealist{
 border-style: solid;
 border-width: 5px;
 border-color: #5b0e2d;
 border-radius: 5px;
}

.idea{
 font-size:16px;
}

.overveiw2{
 font-size:17px;
}

.ideaheader{
 margin-top:5px;
 margin-bottom:5px;
}